
AngularJS Material
SKIP TO CONTENT
Documentation Version

LATEST RELEASE (1.1.4)
Toggle collapsed
GETTING STARTED
 
DEMOS
Toggle expanded
Autocomplete
Bottom Sheet
Button
Card
Checkbox
Chips
Colors
Content
Datepicker
Dialog current page
Divider
FAB Speed Dial
FAB Toolbar
Grid List
Icon
Input
List
Menu
Menu Bar
Nav Bar
Panel
Progress Circular
Progress Linear
Radio Button
Select
Sidenav
Slider
Subheader
Swipe
Switch
Tabs
Toast
Toolbar
Tooltip
Truncate
Virtual Repeat
Whiteframe
Customization

CSS
Toggle collapsed
 
THEMING
Toggle collapsed
API Reference

LAYOUT
Toggle collapsed
 
SERVICES
Toggle collapsed
 
TYPES
Toggle collapsed
 
DIRECTIVES
Toggle collapsed
CONTRIBUTORS
Demos -  Dialog
API Reference
Basic Usage


HTML
JS
CSS
DIALOG1.TMPL.HTML
TABDIALOG.TMPL.HTML
HTMLJSCSSDIALOG1.TMPL.HTMLTABDIALOG.TMPL.HTML
<md-dialog aria-label="Mango (Fruit)">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Mango (Fruit)</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="one">
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab One</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
          </md-content>
        </md-tab>
        <md-tab label="two">
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Two</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
            <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
          </md-content>
        </md-tab>
        <md-tab label="three">
          <md-content class="md-padding">
            <h1 class="md-display-2">Tab Three</h1>
            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
      <span flex></span>
      <md-button ng-click="answer('not useful')" >
        Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;" >
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
Open a dialog over the app's content. Press escape or click outside to close the dialog and send focus back to the triggering button.

ALERT DIALOG
CONFIRM DIALOG
PROMPT DIALOG
CUSTOM DIALOG
TAB DIALOG
Note: The Confirm dialog does not use $mdDialog.clickOutsideToClose(true).

You cancelled the dialog.
Show Pre-Rendered Dialog
Sometimes you may not want to compile the dialogs template on each opening.

Use full screen mode for custom dialog
Allows the dialog to consume all available space on small devices





Open From Close To


HTML
JS
HTMLJS
angular.module('dialogDemo2', ['ngMaterial'])

.controller('AppCtrl', function($scope, $mdDialog) {
  $scope.openFromLeft = function() {
    $mdDialog.show(
      $mdDialog.alert()
        .clickOutsideToClose(true)
        .title('Opening from the left')
        .textContent('Closing to the right!')
        .ariaLabel('Left to right demo')
        .ok('Nice!')
        // You can specify either sting with query selector
        .openFrom('#left')
        // or an element
        .closeTo(angular.element(document.querySelector('#right')))
    );
  };

  $scope.openOffscreen = function() {
    $mdDialog.show(
      $mdDialog.alert()
        .clickOutsideToClose(true)
        .title('Opening from offscreen')
        .textContent('Closing to offscreen')
        .ariaLabel('Offscreen Demo')
        .ok('Amazing!')
        // Or you can specify the rect to do the transition from
        .openFrom({
          top: -50,
          width: 30,
          height: 80
        })
        .closeTo({
          left: 1500
        })
    );
  };
});
left
A dialog can specify its origin and target with openFrom and closeTo properties. The options showFrom and closeTo can be specified as a string [where internally querySelector( ) is used to perform the DOM element lookup], element or an Rect object [with top, left, width, height fields].

OPEN FROM LEFT - CLOSE TO RIGHT
OPEN FROM TOP LEFT - CLOSE SLIDE DOWN
right
Theme Inheritance


We have an interval that changes the color of the button from red to blue themes, Open the dialog to see the theme being inherited to the dialog and any component inside

OPEN DIALOG
Powered by Google ©2014–2017. Code licensed under the MIT License. Documentation licensed under CC BY 4.0.