<div class="page-content" ng-controller="DashboardController as dashboardCtrl" >

    <div id="tab-general" ng-show="dashboardCtrl.atendentesOcupados && dashboardCtrl.atendentesOcupados.length > 0" >
        <div id="sum_box" class="row mbl" style="margin-bottom:0px!important;"> 
            <div class="col-sm-3 col-md-3 " ng-repeat="apoio in dashboardCtrl.atendentesOcupados" >
                <div class="panel profit db mbm" >
                    <div class="panel-body" style="background: #68838B; color:#000000;padding:5px;">
                        <h4 class="value" style="margin-top: -8px;">
                            <span  style="font-size: 20px;">{{apoio.nome}}</span> <span style="font-size: 12px;">{{apoio.sala}}</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- PAINEL ANTIGO DE STATUS DOS CHAMADOS-->
    <!--div id="tab-general">
        <div id="sum_box" class="row mbl"> 
            <div class="col-sm-6 col-md-3 " ng-show="dashboardCtrl.resumoChamados" ng-repeat="item in dashboardCtrl.resumoChamados">
               
                <div class="panel profit db mbm">
                    <div class="panel-body" >
                        <p class="icon">
                            <i class="icon fa {{item.classIcon}}"></i>
                        </p>
                        <h4 class="value">
                            <span >{{item.valor}}</span></h4>
                        <p class="description">{{item.nome}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div-->

     <div id="tab-general">
        <div id="sum_box" class="row mbl"> 
                <div class="col-sm-3 col-md-3 " >
                   
                    <div class="panel profit db mbm">
                        <div class="panel-body" style="background: #008B45; color:#000000; padding:7px;">
                            <p class="icon" >
                                <i class="icon fa fa-bell-o" style="font-size: 40px;"></i>
                            </p>
                            <h4 class="value">
                                <span  style="font-size: 40px;" >{{dashboardCtrl.resumoChamadosOnline.abertos}}</span></h4>
                            <p class="description" style="margin-bottom:0px;">Abertos hoje</p>
                        </div>
                    </div>

                </div>

                 <div class="col-sm-3 col-md-3 " >
                   
                    <div class="panel profit db mbm">
                        <div class="panel-body" style="background: #CD3333;  color:#FFFFFF;padding:7px;">
                            <p class="icon" >
                                <i class="icon fa fa-wrench" style="font-size: 40px;"></i>
                            </p>
                            <h4 class="value">
                                <span  style="font-size: 40px;">{{dashboardCtrl.resumoChamadosOnline.aguardando}}</span></h4>
                            <p class="description" style="margin-bottom:0px;">Aguardando atendimento</p>
                        </div>
                    </div>

                </div>


                <div class="col-sm-3 col-md-3 " >
                   
                    <div class="panel profit db mbm">
                        <div class="panel-body" style="background: #EEB422; color:#000000;padding:7px;">
                            <p class="icon" >
                                <i class="icon fa fa-wrench" style="font-size: 40px;"></i>
                            </p>
                            <h4 class="value">
                                <span  style="font-size: 40px;">{{dashboardCtrl.resumoChamadosOnline.atendimento}}</span></h4>
                            <p class="description" style="margin-bottom:0px;">Em atendimento</p>
                        </div>
                    </div>

                </div>

             
                <div class="col-sm-3 col-md-3 " >
                 
                    <div class="panel profit db mbm">
                        <div class="panel-body" style="background: #4F4F4F; color: #FFFFFF; padding:7px;">
                            <p class="icon" >
                                <i class="icon fa fa-thumbs-o-up fa-custon" style="font-size: 40px;"></i>
                            </p>
                            <h4 class="value">
                                <span  style="font-size: 40px;">{{dashboardCtrl.resumoChamadosOnline.fechados}}</span></h4>
                            <p class="description" style="margin-bottom:0px;">Fechados hoje</p>
                        </div>
                    </div>

                </div>
        </div>
    </div>


    <div class="row">
        
        <!--parte esquerda do dash -  a ideia eh q tenho 2/3 da tela-->
        <div class="col-sm-9 col-md-9 col-lg-9" >

            <div class="container-fluid">   
                <div class="row">  
                    
                </div>

                <div class="row"> 

                    <div class="col-lg-8 col-md-8">
                        <div class="portlet box">
                            <div class="portlet-header" style="background: #EEE9E9">
                                <div class="caption" >Total de chamados</div>
                            </div>
                            <div class="portlet-body">
                                <p class="help-block">
                            Acompanhamento diário dos últimos 15 dias</p>
                                <canvas id="graficoChamadosAbertosPorDia" width="500" height="200"></canvas>
                            </div>
                        </div>

                    </div>

                     <div class="col-lg-4 col-md-4" >
                        
                         <div class="portlet box">
                            <div class="portlet-header" style="background: #EEE9E9">
                                <div class="caption" >Média dos tempos</div>
                            </div>
                            <div class="portlet-body">
                                 <div class="chat-scroller">
                                    <ul class="chats">
                                        <li class="in">
                                            <img src="img/icons/ico_espera_professor.png" style="float: left" />
                                                                              
                                            <div class="message">
                                                 <span style="color: #000000" >Espera do professor</span> <br />
                                                 <span style="font-size: 18px; color: #FF0000; font-weight: bold;" >{{dashboardCtrl.dadosMinutos.esperaProfessor | number:0}} min</span>
                                            </div>
                                        </li>
                                        <li class="in">
                                            <img src="img/icons/ico_tempo_atendimento.png" style="float: left" />
                                                                              
                                            <div class="message">
                                                 <span style="color: #000000">Atendimento</span> <br />
                                                 <span style="font-size: 18px; color: #FF0000; font-weight: bold;">{{dashboardCtrl.dadosMinutos.tempoAtendimento | number:0}} min</span>
                                            </div>
                                        </li>
                                        <li class="in">
                                            <img src="img/icons/ico_tempo_total.png" style="float: left" />
                                                                              
                                            <div class="message">
                                                 <span style="color: #000000">Total</span> <br />
                                                 <span style="font-size: 18px; color: #FF0000; font-weight: bold;">{{dashboardCtrl.dadosMinutos.tempoTotal | number:0}} min</span> 
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>                            

                    </div>

                </div>


            </div>
        </div>

        <!--parte direita do dash -  a ideia eh q tenho 1/3 da tela e sirva pra exibir os chamdos atuais-->

        <div class="col-sm-3 col-md-3 col-lg-3" >

            <div class="container-fluid">
               
                <div class="row">

                    <div class="portlet box">
                        <div class="portlet-header" style="background: #EEE9E9">
                            <div class="caption" >Chamados Abertos</div>
                        </div>
                        <div class="portlet-body">
                            <div class="chat-scroller">
                                <ul class="chats">
                                    <li class="in" ng-repeat="aberto in dashboardCtrl.chamadosAbertos">
                                        <img src="img/icons/ico_status_aberto.png" class="avatar img-responsive" ng-show="aberto.status ==='Aberto'" />
                                        <img src="img/icons/ico_status_caminho.png" class="avatar img-responsive" ng-show="aberto.status ==='A caminho'" />
                                        <img src="img/icons/ico_status_andamento.png" class="avatar img-responsive" ng-show="aberto.status ==='Em atendimento'"  />
                                                                          
                                        <div class="message">
                                            <span class="chat-arrow"></span><a href="#" class="chat-name">{{aberto.status}}  Código: {{aberto.codigo}} </a>&nbsp; <br/>
                                         
                                             <span >{{aberto.nomeSolicitante}} | {{aberto.nomeCategoria}}</span> <br />
                                             <span >{{aberto.nomeUnidade}}</span><br />
                                             <span ng-show="aberto.nomeAtendente">Atendente:{{aberto.nomeAtendente}}<br /></span>
                                             
                                             <span
                                            class="chat-datetime">Aberto às {{aberto.dataCriacao | date: 'hh:mm'}}hrs de {{aberto.dataCriacao | date: 'dd MMM'}}</span>
                                                
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

   

</div>