
 <div class="page-content" ng-controller="LoginController" >
 <div class="container" >
            <div class="form-box">
                <form >
                    <div>
                        <h1>UNA</h1>
                    </div>

                    <div class="alert alert-danger" style="margin: 10px;" role="alert" ng-show="msgErro">{{msgErro}}</div>

                    <div>
                        <input type="text" name="username" placeholder="Informe seu login" class="form-input" ng-model="usuario" required>
                    </div>
                    
                    <div>
                        <input type="password" name="password" placeholder="Informe sua senha" class="form-input" ng-model="senha" required>
                    </div>

                    <div>
                        <input type="button" value="Entrar" class="form-btn" ng-click="login()">
                    </div>

                </form>
            </div>
        </div>
        </div>