


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Lista de todos seus clientes</h4>
                    </div>
                    
                    <div class="content"  ng-controller="UsuariosController as pessoasCtrl">


                    <form ng-submit="pesquisar()" >
                         <div class="well well-lg" style="margin-bottom: 20px;">
                            <h4>Filtros</h4>
                            <div class="row" >
                                <div class="col-sm-8 col-md-8">
                                    
                                    <label for="txtTitulo">Nome </label>
                                    <input id="txtTitulo" type="text" class="form-control border-input" ng-model="pesquisa.nome"  />

                                </div>
                               
                                <div class="col-sm-4 col-md-4" style="text-align: center; padding-top: 25px;">
                                    
                                   <button type="submit" class="btn btn-success" style="margin-top: 5px;" >Pesquisar</button>

                                </div>
                            </div>

                        </div>
                        </form>

                        <div class="progress" ng-show="pessoasCtrl.processando">
                              <div class="progress-bar progress-bar-striped active" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                              </div>
                        </div>
                                    
                        <table class="table table-striped"> 
                           <thead> 
                               <tr> 
                                   <th>Nome</th> 
                                   <th>Conta</th> 
                                   <th>Cpf/Responsável</th>
                                   <th>Cnpj</th>
                               </tr> 
                           </thead> 
   
                           <tbody> 
   
                               <tr ng-repeat="pessoa in pessoasCtrl.pessoas | orderBy : 'nome':true"> 
                                   <td>{{pessoa.nome}}</td> 
                                   <td>{{pessoa.info_extra3}}</td> 
                                   <td>{{pessoa.cpf}} </td>
                                   <td>{{pessoa.documento_extra1}} </td>
                               </tr>
                               
                           </tbody> 
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


      