 <div class="page-content" ng-controller="RegiaoController as regiaoCtrl" ng-cloak>

 	<div class="row">
        <div class="col-lg-12">

  			 <div class="progress" ng-show="regiaoCtrl.processando">
                  <div class="progress-bar progress-bar-striped active" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  </div>
            </div>
         
        </div>
    </div>

    <div class="row">
        <div class="alert alert-success" style="margin: 10px;" role="alert" ng-show="regiaoCtrl.msg">{{regiaoCtrl.msg}}</div>

        <div class="alert alert-danger" style="margin: 10px;" role="alert" ng-show="regiaoCtrl.msgErro">{{regiaoCtrl.msgErro}}</div>
    </div>


  
    <div class="row">
        <div class="col-lg-5">
           
                        
        	<div class="panel panel-red"">
                <div class="panel-heading">Regiões de atendimento 
                    

                    <a href="#" data-toggle="tab" ng-click="regiaoCtrl.adicionarRegiao()"><span class="fa fa-plus"></span>&nbsp;Nova</a>


                    <select ng-options="empresa as empresa.nomeEmpresa for empresa in regiaoCtrl.empresas" 
                        ng-model="regiaoCtrl.empresaSelecionada"  class="form-control border-input" ng-change="regiaoCtrl.selecionarEmpresa()"></select>



                    <div ng-show="regiaoCtrl.regiaoSalvar" style="padding: 5px;">

                        <label>Nome:</label>
                        <input type="text" name="inputNome" id="inputNome" class="form-control border-input" ng-model="regiaoCtrl.regiaoSalvar.nome" style="margin-bottom: 5px;" md-autofocus>
                    
                        <button class="btn btn-primary" ng-click="regiaoCtrl.salvarRegiao()">Salvar</button>
                        <button class="btn btn-primary" ng-click="regiaoCtrl.cancelarSalvarRegiao()">Cancelar</button>
                    </div>

                </div>
                 
                 <div class="panel-body">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <!--th>#</th-->
                            <!--th>Empresa</th-->
                            <th class="title">Nome</th>
                            <!--th>Andares</th-->
                        </tr>
                        </thead>

                        <tbody>
	                        <tr ng-repeat="regiao in regiaoCtrl.regioes | orderBy : 'nome' : true" ng-click="regiaoCtrl.selecionarRegiao(regiao)">
	                            <!--td>1</td -->
	                            <!--td>{{agrup.nomeEmpresa}}</td-->
	                            <td>{{regiao.nome}}</td>
	                            <!--td>{{agrup.qtdAndares}}</td-->
	                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

           
        </div>


        <div class="col-lg-7">

            <div class="panel panel-red" ng-show="regiaoCtrl.regiaoSelecionada">
                <div class="panel-heading" >Região selecionada: {{regiaoCtrl.regiaoSelecionada.nome}} </div>
                <div class="panel-heading">Apoio que atendem essa região</div>

                <div class="panel-body">
                    
                    <div ng-repeat="apoio in regiaoCtrl.apoios | orderBy : nome" style="width: 150px">
                        <input type="checkbox"  value="{{apoio._id}}" ng-click="regiaoCtrl.atualizarApoioSelecionada(apoio)" ng-model="apoio.checked" id="CKB_{{apoio.id}}" />

                        <label for="CKB_{{apoio.id}}">{{apoio.nome}}</label>
                    </div>    


                </div>
            </div>

            <div class="panel panel-red"" ng-show="regiaoCtrl.regiaoSelecionada">
                <div class="panel-heading" >Região selecionada: {{regiaoCtrl.regiaoSelecionada.nome}} </div>
                <div class="panel-heading">Unidades/Salas que fazem parte desta região </div>
                
                <div class="panel-body">
                    <div ng-repeat="unidade in regiaoCtrl.unidades | orderBy : ['idAgrupamento','andar','nome']" style="width: 200px;float:left;">
                        <input type="checkbox"  value="{{unidade._id}}" ng-click="regiaoCtrl.atualizarUnidadeSelecionada(unidade)" ng-model="unidade.checked" id="CKB_{{unidade.id}}" />

                        <label for="CKB_{{unidade.id}}">{{unidade.nome}} (andar: {{unidade.andar}}) ({{unidade.agrupamento.nome}})</label>
                    </div>  
                </div>
            </div>


    </div>
</div>