 <div class="page-content" ng-controller="UnidadeController as unidadeCtrl">

 	<div class="row">
        <div class="col-lg-12">

  			 <div class="progress" ng-show="unidadeCtrl.processando">
                  <div class="progress-bar progress-bar-striped active" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                  </div>
            </div>
         
        </div>
    </div>

    <div class="row">
        <div class="alert alert-success" style="margin: 10px;" role="alert" ng-show="unidadeCtrl.msg">{{unidadeCtrl.msg}}</div>

        <div class="alert alert-danger" style="margin: 10px;" role="alert" ng-show="unidadeCtrl.msgErro">{{unidadeCtrl.msgErro}}</div>
    </div>


    <div class="row" style="margin-bottom: 10px;">
        <label for="selectEmpresa" class="control-label">Empresa: *</label>
        <select name="selectEmpresa" ng-model="unidadeCtrl.empresaSelecionada" class="form-control border-input" ng-change="unidadeCtrl.trocarEmpresa()">
            <option value="{{emp._id}}" ng-repeat="emp in unidadeCtrl.empresas">{{emp.nomeEmpresa}}</option>
        </select>
    </div>


    <div class="row" ng-show="unidadeCtrl.empresaSelecionada">
        <div class="col-lg-5">

            
                        
        	<div class="panel panel-red"">
                <div class="panel-heading">Prédios 
                    <a href="#" data-toggle="tab" ng-click="unidadeCtrl.adicionarAgrupamento()"><span class="fa fa-plus"></span>&nbsp;Novo</a>

                    <div ng-show="unidadeCtrl.modoSalvarAgrup" style="padding: 5px;" >

                        <label>Nome: *</label>
                        <input type="text" name="inputNomeAgrup" id="inputNomeAgrup" class="form-control border-input" ng-model="unidadeCtrl.agrupSalvar.nome" md-autofocus>
                    
                        <label>Quantos andares?</label>
                        <input style="margin-bottom: 5px;" type="number" name="inputAndarAgrup" id="inputAndarAgrup" class="form-control border-input" ng-model="unidadeCtrl.agrupSalvar.qtdAndares" >

                         <button class="btn btn-primary" ng-click="unidadeCtrl.salvarAgrupamento()">Salvar</button>
                         <button class="btn btn-primary" ng-click="unidadeCtrl.cancelarSalvarAgrup()">Cancelar</button>
                    </div>



                </div>
                 
                 <div class="panel-body">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <!--th>#</th-->
                            <th>Empresa</th>
                            <th>Nome</th>
                            <th>Andares</th>
                        </tr>
                        </thead>

                        <tbody>
	                        <tr ng-repeat="agrup in unidadeCtrl.agrupamentos | orderBy : 'nome' : true" ng-click="unidadeCtrl.selectionarAgrupamento(agrup)">
	                            <!--td>1</td -->
	                            <td>{{agrup.nomeEmpresa}}</td>
	                            <td>{{agrup.nome}}</td>
	                            <td>{{agrup.qtdAndares}}</td>
	                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

           
        </div>


        <div class="col-lg-7" ng-show="unidadeCtrl.empresaSelecionada">
            <div class="panel panel-red">
                <div class="panel-heading" ng-show="unidadeCtrl.agrupamentoSelecionado">Prédio selecionado: {{unidadeCtrl.agrupamentoSelecionado.nome}} </div>
                <div class="panel-heading">Unidades
                    <a href="#" data-toggle="tab" ng-click="unidadeCtrl.adicionarUnidade()"><span class="fa fa-plus"></span>&nbsp;Novo</a>

                    <div ng-show="unidadeCtrl.modoSalvarUnidade" style="padding: 5px;">

                        <label>Nome:</label>
                        <input type="text" name="inputNomeUnidade" id="inputNomeUnidade" class="form-control border-input" ng-model="unidadeCtrl.unidadeSalvar.nome" md-autofocus>
                    
                        <label>Qual andar?</label>
                         <select name="selectAndar" id="selectAndar" class="form-control border-input" ng-model="unidadeCtrl.unidadeSalvar.andar"  style="width: 100%; margin-bottom: 5px;">
                                <option value="">Selecione ...</option> 
                                <option ng-repeat="a in unidadeCtrl.andares" value="{{a}}">{{a}}</option>
                         </select>
                         <button class="btn btn-primary" ng-click="unidadeCtrl.salvarUnidade()">Salvar</button>
                         <button class="btn btn-primary" ng-click="unidadeCtrl.cancelarSalvarUnidade()">Cancelar</button>
                    </div>


                </div>
                
                <div class="panel-body">
                    <table class="table table-hover table-striped">
                       
                        <tr class="tbl-item" ng-repeat="unid in unidadeCtrl.unidades | orderBy : ['andar','nome']"><!--<img/>-->
                            <td class="img" style="width: 160px;">
                                <img ng-src="{{unid.qrcodeImg}}" title="Código de identificação da unidade" style="max-width: 150px" />  
                            </td>
                            <!--<data></data>-->
                            <td class="td-block">
                                <p class="title">{{unid.nome}}</p>
                                <p >Andar: {{unid.andar}}</p>
                                <p class="desc">Código:{{unid.codigo}}</p>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>


    </div>
</div>